<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="well">
<h2>My Cart</h2>
			<table width="100%">
				<thead>
				<th>Product</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Subtotal</th>
				</thead>
				<tbody>
				  <% @line_items.each do |line_item| %>
				  <tr>
				    <td width="25%"><%= line_item.product.name %></td>
				    <td width="25%"><%= number_to_currency line_item.product.price %></td>
				    <td width="25%"><%= line_item.quantity %></td>
				    <td width="25%"><%= number_to_currency line_item.line_item_total %></td>
				  </tr>
				  <% end %>
			  </tbody>
			</table>
			<br />
			<div>
			  <%= link_to "Proceed to Checkout?", checkout_path, class: "btn btn-success" %>
			</div>
		</div>
	</div>
</div>